{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birthday boy!!!!</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <link rel="icon" href="{% static 'image/cake.jpg' %}"/>
</head>
<body>
    <div class="nav">
        <a href="#">Is today my birthday?</a>
    </div>
    <div class="content">
        {% if main %}
        <h1>Yes! Today is May 17</h1>
        {% elif %}
        <h1>Nope!
            <span>It's not May 17 yet</span>
        </h1>
        {% endif %}
    </div>
</body>
</html>
